<% wrap_layout :layout do %>

    <h1><%= current_page.data.title %></h1>


    <% if current_page.data.phosphorus %>
      <div class="projectMaterials">
        <div id="projectCaption"></div>
        <div id="projectEmbed"></div>
        <div id="projectLink"></div>
      </div>

      <script type="text/javascript">
          var getParams = function (url) {
              var params = {};
              var parser = document.createElement('a');
              parser.href = url;
              var query = parser.search.substring(1);
              var vars = query.split('&');
              for (var i = 0; i < vars.length; i++) {
                  var pair = vars[i].split('=');
                  params[pair[0]] = decodeURIComponent(pair[1]);
              }
              return params;
          };
        var params = getParams(window.location);

        var projectURL = null;
        if(params.project){
            projectURL = params.project;
            var linkEl = document.createElement('a');
            linkEl.setAttribute('href',projectURL);
            linkEl.innerText="See project on Scratch"
            linkEl.classList.add('button')
            document.getElementById('projectLink').append(linkEl);

            var caption = document.createElement('p');
            caption.innerText="I coded this project using a language called Scratch:";
            document.getElementById('projectCaption').append(caption);


            var urlParts = projectURL.split("/");

            var projectID = urlParts[4];

            var phosphorus = "https://phosphorus.github.io/embed.js?id="+projectID+"&auto-start=true&light-content=false"


            var script = document.createElement('script');
            script.setAttribute('type','text/javascript');
            script.setAttribute('src',phosphorus);
            document.getElementById('projectEmbed').appendChild(script);

        }




      </script>

    <% end %>

    <%= yield %>

<% end %>