
.button{
  @extend .shadow-4;
  background-color: #ffd500;
  border-style:solid;
  border-width:2px;
  border-color:rgba(#000,0.1);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  color: rgba(#000, 0.6);
  padding: 0.5em 1em 0.5em 1em;

  &:hover{
    color: rgba(#000, 0.3);
    background-color: lighten(#ffd500, 10%);
    border-color:lighten(rgba(#000,0.1), 10%);
  }

  &:active{
    color: rgba(#000, 0.3);
  }

}

#translations{
  margin-top:1em;
  text-align: center;
  //background-color: #ffd500;
  //border-style:solid;
  //border-width:2px;
  //border-color:rgba(#000,0.1);

  select{

    @extend .button;

    padding: 0.5em 2em 0.5em 1em;

    font-size:1.5em;

    display: inline-block;
    line-height: 1.5em;

    border-radius:0;


    /* reset */

    margin: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;

    background-image:
            linear-gradient(45deg, transparent 50%, rgba(#000,0.6) 50%),
            linear-gradient(135deg, rgba(#000,0.6) 50%, transparent 50%);
    background-position:
            calc(100% - 20px) calc(1em + 2px),
            calc(100% - 10px) calc(1em + 2px),
            100% 0;
    background-size:
            10px 10px,
            10px 10px,
            2.5em 2.5em;
    background-repeat: no-repeat;

  }
}